In [63]:
!pip install genism

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement genism (from versions: none)
ERROR: No matching distribution found for genism

In [64]:
import pandas as pd
import numpy as np
import random
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import re
import nltk 
import gensim
from gensim.models import Word2Vec
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
nltk.download('punkt')

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [65]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [66]:
df = pd.read_csv('Train.csv')

In [67]:
df

                                                   tweet label     id
0      @USER She should ask a few native Americans wh...   OFF      0
1      @USER @USER Go home you’re drunk!!! @USER #MAG...   OFF      1
2      Amazon is investigating Chinese employees who ...   NOT      2
3      @USER Someone should'veTaken" this piece of sh...   OFF      3
4      @USER @USER Obama wanted liberals &amp; illega...   NOT      4
...                                                  ...   ...    ...
13235  @USER Sometimes I get strong vibes from people...   OFF  13235
13236  Benidorm ✅  Creamfields ✅  Maga ✅   Not too sh...   NOT  13236
13237  @USER And why report this garbage.  We don't g...   OFF  13237
13238                                        @USER Pussy   OFF  13238
13239  #Spanishrevenge vs. #justice #HumanRights and ...   NOT  13239

[13240 rows x 3 columns]

**Checking for missing values in the dataset**

In [68]:
df.isnull().sum()

tweet    0
label    0
id       0
dtype: int64

**converting label values to numbers 0, 1**

In [69]:
def convertlabel(st):
  if st == 'OFF':
    return 0
  elif st == 'NOT':
    return 1

In [70]:
for i in range(len(df['label'])):
  df['label'][i] = convertlabel(df['label'][i])

<ipython-input-70-085057400cad>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][i] = convertlabel(df['label'][i])

**cleaning each tweet (stemming and removing stopwords, hashtags, urls etc)**

In [71]:
stop_words = stopwords.words('english')
st = PorterStemmer()

In [72]:
def stemtweet(text):                #Stemming
  text = word_tokenize(text)

  for x in range(len(text)):
    text[x] = st.stem(text[x])

  return " ".join(x for x in text)

In [73]:
def remstopwords(text):                #Remove Stop Words
  text = text.split()
  list = []
  for x in text:
    if x not in stop_words:
      list.append(x)
  
  newtext = " ".join(word for word in list)
  return newtext

In [74]:
def cleantweet(text):
  text = re.sub("(@|#)[A-Za-z0-9_]+" , "", text)       #Remove usernames/Hashtags
  text = re.sub(r'(www.)|http\S+', '', text)                      #Remove URLs
  text = re.sub('[()!?]', ' ', text)                    #Remove Punctuation marks
  text = re.sub('\[.*?\]',' ', text)
  text = re.sub("[^a-z0-9]"," ", text)                 #Remove irrelevant characters
  
  text = remstopwords(text)

  text = stemtweet(text)

  return text

In [75]:
df['tweet'] = df['tweet'].apply(lambda x: cleantweet(x.lower()))

In [76]:
df

                                                   tweet label     id
0                                ask nativ american take     0      0
1                                      go home drunk url     0      1
2      amazon investig chines employe sell intern dat...     1      2
3                       someon vetaken piec shit volcano     0      3
4              obama want liber amp illeg move red state     1      4
...                                                  ...   ...    ...
13235  sometim get strong vibe peopl man vibe ten mil...     0  13235
13236             benidorm creamfield maga shabbi summer     1  13236
13237                            report garbag give crap     0  13237
13238                                              pussi     0  13238
13239                                             vs url     1  13239

[13240 rows x 3 columns]

**Forming a new Dataset with X = vector, y = label**

In [77]:
newdf = df[['tweet', 'label']]

In [78]:
newdf['tweet']

0                                  ask nativ american take
1                                        go home drunk url
2        amazon investig chines employe sell intern dat...
3                         someon vetaken piec shit volcano
4                obama want liber amp illeg move red state
                               ...
13235    sometim get strong vibe peopl man vibe ten mil...
13236               benidorm creamfield maga shabbi summer
13237                              report garbag give crap
13238                                                pussi
13239                                               vs url
Name: tweet, Length: 13240, dtype: object

In [79]:
newdf

                                                   tweet label
0                                ask nativ american take     0
1                                      go home drunk url     0
2      amazon investig chines employe sell intern dat...     1
3                       someon vetaken piec shit volcano     0
4              obama want liber amp illeg move red state     1
...                                                  ...   ...
13235  sometim get strong vibe peopl man vibe ten mil...     0
13236             benidorm creamfield maga shabbi summer     1
13237                            report garbag give crap     0
13238                                              pussi     0
13239                                             vs url     1

[13240 rows x 2 columns]

In [80]:
X = newdf['tweet']
y = newdf['label']

In [81]:
X

0                                  ask nativ american take
1                                        go home drunk url
2        amazon investig chines employe sell intern dat...
3                         someon vetaken piec shit volcano
4                obama want liber amp illeg move red state
                               ...
13235    sometim get strong vibe peopl man vibe ten mil...
13236               benidorm creamfield maga shabbi summer
13237                              report garbag give crap
13238                                                pussi
13239                                               vs url
Name: tweet, Length: 13240, dtype: object

In [82]:
X.shape

(13240,)

**Converting each tweet into a vector based on the occurences of all the unique words in corpus**

Bag of Words

In [83]:
vectorizer = CountVectorizer(max_features = 3266)

X = vectorizer.fit_transform(X)

TF IDF

In [20]:
vectorizer = TfidfVectorizer(max_features = 3266)

X = vectorizer.fit_transform(X)

In [84]:
X.shape

(13240, 3266)

In [85]:
y = y.to_numpy()

In [86]:
y = y.astype('int64')

In [87]:
newdf

                                                   tweet label
0                                ask nativ american take     0
1                                      go home drunk url     0
2      amazon investig chines employe sell intern dat...     1
3                       someon vetaken piec shit volcano     0
4              obama want liber amp illeg move red state     1
...                                                  ...   ...
13235  sometim get strong vibe peopl man vibe ten mil...     0
13236             benidorm creamfield maga shabbi summer     1
13237                            report garbag give crap     0
13238                                              pussi     0
13239                                             vs url     1

[13240 rows x 2 columns]

**Splitting the dataset**

In [88]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2)

Training on Train data and evaluating on Validation data

**Train ANN**

In [89]:
model1 = MLPClassifier(activation = 'logistic')
model1.fit(X_train, y_train)
ypred = model1.predict(X_valid)
print('Accuracy:', accuracy_score(y_valid, ypred))

Accuracy: 0.7077039274924471

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

**Train SVM**

In [106]:
model2 = SVC()
model2.fit(X_train, y_train)
ypred = model2.predict(X_valid)
print('Accuracy:', accuracy_score(y_valid, ypred))

Accuracy: 0.7549093655589124

**Train Logistic Function**

In [107]:
model3 = LogisticRegression()
model3.fit(X_train, y_train)
ypred = model3.predict(X_valid)
print('Accuracy:', accuracy_score(y_valid, ypred))

Accuracy: 0.7651057401812689

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

**Ensemble Training (Random Forest)**

In [108]:
model4 = RandomForestClassifier()
model4.fit(X_train, y_train)
ypred = model4.predict(X_valid)
print('Accuracy:', accuracy_score(y_valid, ypred))

Accuracy: 0.7658610271903323

In [94]:
model5 = GaussianNB()
model5.fit(X_train.todense(), y_train)
ypred = model5.predict(X_valid.todense())
print('Accuracy:', accuracy_score(y_valid, ypred))

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

Accuracy: 0.4142749244712991

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

**Working On Test Data**

In [95]:
testdf = pd.read_csv('Test.csv')

In [96]:
testdf

                                                 tweet   id
0    #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...    0
1    #ConstitutionDay is revered by Conservatives, ...    1
2    #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...    2
3    #Watching #Boomer getting the news that she is...    3
4    #NoPasaran: Unity demo to oppose the far-right...    4
..                                                 ...  ...
855  #DespicableDems lie again about rifles. Dem Di...  855
856  #MeetTheSpeakers 🙌 @USER will present in our e...  856
857  3 people just unfollowed me for talking about ...  857
858  #WednesdayWisdom Antifa calls the right fascis...  858
859      #Kavanaugh typical #liberals , #Democrats URL  859

[860 rows x 2 columns]

In [97]:
testdf.isnull().sum()

tweet    0
id       0
dtype: int64

In [98]:
testdf['tweet'] = testdf['tweet'].apply(lambda x: cleantweet(x.lower()))

In [99]:
testdf

                                                 tweet   id
0    democrat support antifa muslim brotherhood ms1...    0
1    rever conserv hate progress socialist democrat...    1
2                                   first reduc ca url    2
3    get news still parol alway make smile final tr...    3
4         uniti demo oppos far right enough enough url    4
..                                                 ...  ...
855  lie rifl dem distort law push gun control kava...  855
856  present event oiw 2018 finpact global impact f...  856
857  3 peopl unfollow talk merlin sorri im still co...  857
858  antifa call right fascist realiti left follow ...  858
859                                          typic url  859

[860 rows x 2 columns]

In [102]:
newX = testdf['tweet']

In [103]:
newX = vectorizer.fit_transform(newX)

In [109]:
newpred = model4.predict(newX)

In [110]:
print('id,label')

for x in range(len(newpred)):
  print(str(x) + "," + str(newpred[x]))

id,label
0,0
1,0
2,1
3,0
4,1
5,1
6,0
7,1
8,1
9,1
10,1
11,0
12,1
13,1
14,1
15,1
16,0
17,1
18,1
19,1
20,0
21,0
22,0
23,0
24,1
25,0
26,1
27,0
28,0
29,1
30,1
31,1
32,0
33,0
34,1
35,1
36,1
37,1
38,0
39,1
40,1
41,1
42,1
43,0
44,0
45,1
46,1
47,1
48,0
49,0
50,1
51,1
52,1
53,1
54,0
55,1
56,1
57,0
58,1
59,1
60,0
61,0
62,1
63,0
64,0
65,0
66,0
67,1
68,0
69,1
70,1
71,0
72,1
73,0
74,0
75,0
76,1
77,0
78,0
79,0
80,1
81,1
82,1
83,0
84,0
85,1
86,1
87,0
88,1
89,0
90,1
91,0
92,1
93,1
94,1
95,1
96,0
97,1
98,1
99,1
100,0
101,1
102,1
103,1
104,0
105,1
106,0
107,1
108,1
109,0
110,0
111,1
112,1
113,0
114,0
115,0
116,1
117,1
118,1
119,1
120,0
121,1
122,0
123,1
124,1
125,0
126,1
127,1
128,1
129,1
130,0
131,0
132,0
133,1
134,1
135,1
136,1
137,1
138,0
139,1
140,1
141,0
142,1
143,1
144,1
145,0
146,1
147,0
148,1
149,1
150,1
151,0
152,0
153,1
154,1
155,0
156,0
157,0
158,1
159,1
160,1
161,0
162,1
163,0
164,1
165,0
166,1
167,0
168,1
169,1
170,1
171,0
172,0
173,1
174,1
175,1
176,1
177,0
178,1
179,0
180,0
181,1
182,1
183,1
184,1
185,0
186,0
187,0
188,0
189,1
190,1
191,0
192,0
193,1
194,1
195,0
196,1
197,0
198,1
199,0
200,1
201,0
202,1
203,0
204,1
205,1
206,1
207,1
208,1
209,0
210,1
211,0
212,0
213,0
214,1
215,1
216,1
217,0
218,1
219,0
220,0
221,1
222,0
223,0
224,1
225,0
226,0
227,1
228,0
229,1
230,1
231,0
232,1
233,0
234,0
235,1
236,0
237,0
238,1
239,1
240,0
241,1
242,1
243,0
244,1
245,0
246,0
247,1
248,0
249,1
250,0
251,1
252,0
253,0
254,1
255,0
256,0
257,1
258,0
259,1
260,0
261,1
262,0
263,0
264,1
265,1
266,1
267,1
268,0
269,1
270,0
271,1
272,1
273,0
274,1
275,0
276,0
277,1
278,0
279,1
280,0
281,0
282,1
283,1
284,0
285,0
286,1
287,0
288,0
289,0
290,0
291,1
292,1
293,0
294,0
295,0
296,0
297,1
298,0
299,0
300,0
301,1
302,1
303,0
304,0
305,1
306,1
307,1
308,1
309,1
310,1
311,0
312,1
313,0
314,1
315,1
316,1
317,1
318,0
319,1
320,1
321,0
322,0
323,1
324,1
325,0
326,0
327,1
328,0
329,1
330,1
331,1
332,1
333,1
334,1
335,0
336,1
337,1
338,0
339,0
340,1
341,0
342,0
343,0
344,0
345,0
346,1
347,1
348,0
349,1
350,1
351,1
352,1
353,1
354,0
355,1
356,1
357,0
358,1
359,1
360,1
361,1
362,0
363,1
364,1
365,1
366,0
367,0
368,0
369,1
370,0
371,0
372,1
373,1
374,1
375,1
376,1
377,1
378,1
379,1
380,0
381,0
382,1
383,1
384,1
385,1
386,0
387,1
388,1
389,1
390,1
391,1
392,0
393,0
394,0
395,1
396,0
397,0
398,1
399,0
400,0
401,1
402,1
403,1
404,1
405,1
406,0
407,1
408,1
409,0
410,1
411,0
412,0
413,1
414,1
415,1
416,0
417,0
418,1
419,1
420,0
421,1
422,0
423,0
424,1
425,1
426,1
427,1
428,0
429,0
430,0
431,1
432,1
433,1
434,1
435,0
436,0
437,1
438,0
439,1
440,1
441,1
442,1
443,1
444,1
445,0
446,0
447,1
448,0
449,1
450,0
451,0
452,0
453,0
454,1
455,0
456,0
457,0
458,0
459,0
460,1
461,0
462,1
463,1
464,1
465,0
466,0
467,0
468,0
469,0
470,1
471,1
472,0
473,1
474,0
475,1
476,1
477,1
478,1
479,1
480,0
481,1
482,0
483,0
484,1
485,0
486,1
487,0
488,1
489,1
490,0
491,1
492,1
493,1
494,1
495,1
496,0
497,0
498,0
499,1
500,1
501,0
502,0
503,1
504,1
505,1
506,1
507,1
508,1
509,1
510,1
511,0
512,1
513,1
514,0
515,1
516,1
517,0
518,1
519,1
520,0
521,0
522,0
523,1
524,0
525,1
526,1
527,1
528,1
529,1
530,1
531,0
532,0
533,0
534,1
535,1
536,1
537,0
538,0
539,1
540,1
541,0
542,1
543,1
544,0
545,0
546,0
547,1
548,1
549,1
550,1
551,0
552,0
553,1
554,0
555,1
556,1
557,1
558,1
559,0
560,0
561,0
562,1
563,1
564,1
565,0
566,1
567,1
568,0
569,0
570,1
571,1
572,1
573,0
574,0
575,1
576,0
577,1
578,1
579,1
580,1
581,0
582,1
583,1
584,0
585,0
586,1
587,1
588,1
589,1
590,1
591,1
592,0
593,0
594,1
595,0
596,0
597,1
598,1
599,1
600,1
601,0
602,0
603,1
604,0
605,1
606,1
607,0
608,0
609,1
610,1
611,1
612,1
613,0
614,0
615,1
616,1
617,1
618,1
619,1
620,1
621,0
622,1
623,1
624,1
625,1
626,1
627,1
628,0
629,1
630,0
631,0
632,1
633,0
634,0
635,0
636,1
637,1
638,1
639,1
640,0
641,0
642,0
643,1
644,0
645,0
646,1
647,0
648,1
649,1
650,0
651,1
652,1
653,1
654,0
655,0
656,0
657,0
658,0
659,1
660,0
661,1
662,1
663,0
664,1
665,1
666,1
667,0
668,0
669,0
670,1
671,0
672,1
673,1
674,1
675,1
676,0
677,1
678,0
679,1
680,0
681,1
682,1
683,0
684,0
685,1
686,0
687,1
688,0
689,1
690,1
691,0
692,0
693,1
694,0
695,1
696,0
697,1
698,1
699,1
700,0
701,1
702,0
703,0
704,1
705,1
706,1
707,1
708,1
709,0
710,0
711,1
712,0
713,1
714,0
715,1
716,1
717,0
718,0
719,1
720,0
721,1
722,1
723,0
724,0
725,1
726,0
727,0
728,1
729,0
730,1
731,0
732,0
733,0
734,0
735,1
736,1
737,1
738,1
739,1
740,1
741,0
742,0
743,1
744,0
745,1
746,1
747,0
748,1
749,1
750,1
751,0
752,0
753,0
754,1
755,1
756,0
757,0
758,0
759,0
760,0
761,0
762,0
763,1
764,1
765,0
766,1
767,0
768,1
769,0
770,0
771,1
772,0
773,0
774,1
775,1
776,0
777,1
778,0
779,1
780,0
781,0
782,0
783,0
784,0
785,0
786,0
787,1
788,1
789,0
790,0
791,0
792,0
793,1
794,0
795,0
796,1
797,1
798,0
799,1
800,1
801,1
802,0
803,0
804,1
805,1
806,0
807,1
808,1
809,0
810,0
811,0
812,0
813,0
814,1
815,0
816,1
817,0
818,1
819,0
820,1
821,0
822,0
823,1
824,0
825,1
826,1
827,0
828,0
829,1
830,0
831,1
832,0
833,1
834,0
835,0
836,0
837,1
838,1
839,0
840,1
841,0
842,0
843,1
844,1
845,0
846,1
847,1
848,1
849,0
850,1
851,0
852,0
853,1
854,0
855,0
856,0
857,0
858,0
859,1

In [ ]:
5020101001574